.toast {
    background-color: #030303;
}
.toast-success {
    background-color: #51a351;
}
.toast-error {
    background-color: #bd362f;
}
.toast-info {
    background-color: #2f96b4;
}
.toast-warning {
    background-color: #f89406;
}
.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-left {
    top: 12px;
    left: 12px;
}
.toast-top-right {
    top: 12px;
    right: 12px;
}
.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}
.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}

.thumb {
    width: 100%;
    height: 200px;
    border: 1px solid #cccccc;
}
.object-contain img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.thumb-wrapper {
    width: 100px;
    height: 100px;
}
.object-cover img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.form-avatar .avatar {
    width: 300px;
    background: transparent;
    border-radius: 50%;
    margin: auto;
    aspect-ratio: 1/1;
    box-shadow: 1px 10px 16px 11px rgba(157, 157, 157, 0.3);
}
.form-avatar .avatar img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}
.form-avatar input[type="file"] {
    width: 70%;
    margin: auto;
    text-align: center;
}
.fm-p {
    position: relative;
    width: 100%;
}
.fm-pass .fm-p i {
    position: absolute;
    right: 10px;
    top: 12px;
    margin: auto;
    cursor: pointer;
}
.fm-pass .fm-p input#password {
    padding-right: 35px;
}
.fm-pass .fm-b {
    padding: 0px 0px 0px 10px;
}
.fm-pass .fm-b .btn-changepass {
    height: 36px;
    font-size: 16px;
}
.f-search {
    width: 100%;
    position: relative;
}
.f-search input[type="search"] {
    padding-left: 30px;
}
.f-search i {
    position: absolute;
    left: 10px;
    top: 12px;
}
@media screen and (max-width: 992px) {
    .form-avatar .avatar {
        width: 200px;
    }
}
@media screen and (max-width: 552px) {
    .form-avatar .avatar {
        width: 100%;
    }
}
